*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    line-height: 30px;
    font-family: Regular;
    color: rgb(88, 88, 88);
}


body{
    background-color: rgb(244, 226, 201);
}

h1{
    color: black;
    font-family: YoungSerif;
    padding-top: 10px;
}

h2{
    color: rgb(152, 78, 25);
    font-family: YoungSerif;
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-size: 18px;
    font-family: YoungSerif;
}

.container{
    display: flex;
    justify-content: center;
    margin: 80px;

}

img{
    width: 100%;
    border-radius: 20px;
}



.content{
    width: 800px;
    height: fit-content;
    border-radius: 20px;
    padding: 3.5%;
    background-color: white;
}

.title{
    padding: 10px 0;
}

.content-title{
    padding: 10px 0;
    padding-bottom: 15px;
}

.preparation-time{
    background-color: rgb(248, 200, 211);
    padding: 18px 15px;
    border-radius: 20px;
}

.preparation-time h3{
    color:maroon ;
}

.ingredient{
    padding: 20px 0;
}

.ingredient-content{
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    padding-bottom: 20px;
}


.instructions{
    padding: 18px 0;
}

.instructions-content{
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    padding-bottom: 20px;
    line-height: 20px;
}

.instructions-content li::marker{
    font-weight: bold;
    color: rgb(152, 78, 25)
}

.nutrition{
    padding: 20px 0;
}

.nutrition-table{
    width: 100%;
    height: fit-content;
}

#table-title{
    color: rgb(152, 78, 25);
    font-weight: bold;
}

.nutrition-table tr th{
    border-bottom: 1px solid #ccc;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
}

.nutrition-table {
    border-collapse: collapse;
}

@font-face {
    font-family: YoungSerif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Regular;
    src:url(assets/fonts/outfit/static/Outfit-Regular.ttf) ;
}